@import "tailwindcss";
*{
  scrollbar-width: none;
  scroll-behavior: smooth;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  min-width: 200%;
  animation: marquee 18s linear infinite;
}
